<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 desktop rescap">
  <Identity
    Name="Dji4GPanel"
    Publisher="CN=Dji4GPanel Development"
    Version="0.1.6.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>DJI 一代 4G 面板</DisplayName>
    <PublisherDisplayName>DJI 4G Panel Contributors</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="zh-CN" />
    <Resource Language="en-US" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19045.0"
      MaxVersionTested="10.0.26200.0" />
  </Dependencies>
  <Applications>
    <Application
      Id="Dji4GPanel"
      Executable="dji4g-panel.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="DJI 一代 4G 面板"
        Description="DJI 一代 4G 模块的非官方 Windows 诊断面板"
        BackgroundColor="#202124"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="dji4g-panel.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="Dji4GPanelStartup"
            Enabled="false"
            DisplayName="DJI 一代 4G 面板" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="wiFiControl" />
  </Capabilities>
</Package>
